.title {
    float: left;
  }
  
.score, .high-score {
    float: right;
}

.title, .score, .high-score {
    font-weight: bolder;
    font-size: 42px;
}

.score {
    padding-right: 20px;
}

.header {
    padding: 0px 10px 0px 10px;
    border-bottom: 3px inset rgb(224, 224, 224);
    margin-bottom: 20px;
    height: 4rem;
    width: 100%;
    color: black;
    text-shadow: 1px 1px rgb(117, 117, 117);
    background: white;
    position: fixed;
    z-index: 100;
}

