.title {
    float: left;
  }
  
.score, .high-score {
    float: right;
}

.title, .score, .high-score {
    padding: 10px;
    font-weight: bolder;
    font-size: 18px;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

